<!DOCTYPE html>
<html lang="en">

<body>
    <div class= "container">
        <div class="row">
        <form class="col s12 push-s3" id="tickerinput" style="color: white; font-size: 25px" method = "GET" action = "/stockwatch">
          <h5>Enter Company Ticker :</h5> 
          <div class="input-field inline" id="inputclass">
            <input id="ticker_input" class="validate" style="font-size: 25px; color: white" name = "tickervalue">
            <label for="ticker_input"></label>
          </div>
           {{!-- <a class="waves-effect waves-light btn btn-small" id="submitbtn" style="background-color: white; color: black !important; font-size: 15px" onclick="searchClicked()" type="submit">Search</a> --}}
           <input class = "waves-effect waves-light btn btn-small" id="submitbtn" style = "background-color: white; color: black !important; font-size: 15px" onclick="searchClicked()" type = "submit" value = "Search">
        </form>
        </div>
    </div>
    
    {{#if errorretrieving}}
      <div class = "container">
        <div class = "row">
          <h3 style = "color: red">{{ticker}} is an invalid ticker.</h3>
        </div>
      </div>
    {{/if}}
    {{!-- in the future make it so that if theres undefined values, you mention that and display the proper errors --}}
    {{#unless errorretrieving}}
      {{#if price}}
      <div class="container" id="tickerinfo">
        <div class="row">
          <div class="col s4 push-s2">
          <h4 id="companyname"> Company: {{companyname}} </h4>
          </div>
          <div class="col s4 push-s3">
          <h4 id="companyname"> ${{price}} [{{percentchange}}]  </h4>
          </div>

          

        </div>
        <div class="row">
        <!-- TradingView Widget BEGIN -->
          <div class="col s1 push-s5">
          <div class="tradingview-widget-container">
            <div id="tradingview_136be"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"></a></div>
            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            <script type="text/javascript">
            new TradingView.widget(
            {
            "width": 980,
            "height": 610,
            "symbol": "{{ticker}}",
            "interval": "D",
            "timezone": "Etc/UTC",
            "theme": "dark",
            "style": "1",
            "locale": "en",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "allow_symbol_change": true,
            "container_id": "tradingview_136be"
          }
            );
            </script>
          </div>
          </div>
          <!-- TradingView Widget END -->
          <div class="container" id="formCont">
            <div class="row" id="formRow">
              <form method = "POST" action = "/stockwatch?tickervalue={{ticker}}">
                <div class="col s12 pull-s11">
                  <label for="pba" name = "pba" style="font-size:30px">Price Bought At: </label>
                  <input id="pba" name = "pba" type="number" min = "0.000001" step = "0.000001" class="validate" style="font-size: 30px; color:white" required>
                </div>
                <div class="col s12 pull-s11">
                  <label for="shares" name = "shares" style="font-size:30px">Shares Bought: </label>
                  <input id="shares" name = "shares" type="number" min = "0.01" step = "0.01" class="validate" style="font-size: 30px; color:white" required>
                </div>
                <div class="col s5 pull-s7">
                  <input class = "waves-effect waves-light btn btn-large" id="createaccountbtn" style = "background-color: white; color: black !important" type = "submit" value = "Add to Account">
                </div>
              </form>
            </div>
          </div>
      </div>
      {{/if}}
    {{/unless}}
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>


